@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    101 Georgian Drive<br />
    Barrie, ON, L4M 6Z5<br />
    Student Number: 200416924
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sbeltra1@lakeheadu.ca">sbeltra1@lakeheadu.ca</a><br />
</address>