@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>List your favourite band!</h1>
    <p class="lead">
        In this website you can crete for you and your friends tickets for your favourite bands!
        Also later download it in a .CSV!
    </p>
</div>
<div class="BandImages" style="text-align:center">
    <img src="~/Images/ManMadeBrigade.jpg" style="width:200px;height:200px;" />
    <img src="~/Images/ACDC.jpg" style="width:200px;height:200px;" />
    <img src="~/Images/Heroes del Silencio.jpg" style="width:200px;height:200px;" />
    <img src="~/Images/Sabaton.jpg" style="width:200px;height:200px;" />
    <img src="~/Images/Billy Talent.jpg" style="width:200px;height:200px;" />
</div>
